#friends-display-link{
    text-align: center;
    display: block;
    font-size: 17px;
    width: 100%;
    background-color: #fafafa;
    padding: 15px 0px;
    margin-bottom: 10px;
}
#friends-display-link svg{
    position: relative;
    top: 4px;
    fill: rgba(0,0,0,0.3);
}
.friends-screen__channel{
    margin: 15px 0px;
}
.friends-screen__channel-header{
    color: rgba(0,0,0,0.3);
    fill: rgba(0,0,0,0.3);
    border-top: 1px solid rgba(0,0,0,0.5);
    margin: 0px 20px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}