.icon-row{
    display: flex;
    justify-content: space-between;
}
.icon-row__icon{
    display: flex;
    align-items: center;
    width: 50px;
    text-align: center;
    flex-direction: column;
    margin: 0px 20px;
}
.icon-row__icon svg{
    height: 30px;
    margin-bottom: 10px;
}