.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f9f9fa;
  padding: 13px 0px;
  display: block;
  z-index: 1;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0px 0px;
}
.nav__a svg {
  height: 40px;
  width: 40px;
}
.nav__a {
  position: relative;
}
.nav__notification {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background-color: #ff6129;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 25px;
  top: -26px;
}
