.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    margin-bottom: 15px;
}
.screen-header__title{
    font-size: 30px;
    font-weight: 800;
}
.screen-header__icons span{
    margin-left: 15px;
}