.screen-header {
  margin-top: 20px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-left: var(--horizontal-space);
  padding-bottom: 3px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  top: 0px;
  z-index: 1;
}
.header__icons {
  padding-top: 31px;
  padding-right: 10px;
}
.header__icons__icon {
  padding-right: 20px;
}
.header__icons__icon svg {
  height: 25px;
  width: 25px;
}
